.header {
  height: 100px;
  width: 1440px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
}
.carre {
  height: 1020px;
  width: 1020px;
  margin-left: 209px;
  margin-top: 162px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  font-style: normal;
  text-align: left;
  margin-left: 5.67%;
  margin-right: 5.67%;
  margin-top: 6%;
  margin-bottom: 41.67%;
}

.bas {
  display: flex;
  margin-left: 5.67%;
}
p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.border1 {
  height: 300px;
  width: 300px;
  border: 10px solid #e30413;
}
.border2 {
  height: 300px;
  width: 300px;
  border: 10px solid #3ea535;
}
.border3 {
  height: 300px;
  width: 300px;
  border: 10px solid #ffee00;
}
.border4 {
  height: 300px;
  width: 300px;
  border: 10px solid #039fe3;
}
.border5 {
  height: 300px;
  width: 300px;
  border: 10px solid #f8c5af;
}
